* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 100%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    height: 100vh;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    font-size: 55px;
    font-weight: 700;
}

.search button {
    color: #555;
    cursor: pointer;
    padding: 35px;
}

.search button img {
    width: 45px;
}

.weather-icon {
    width: 400px;
}

.weather h2 {
    font-size: 100px;
    font-weight: 600;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 150px;
    margin-right: 30px;
}

.humidity,
.wind {
    font-size: 50px;
    margin-top: -6px;
    font-weight: 600;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    color: red;
    display: none;
}

.error h4 {
    font-size: 70px;
}

h1.temp {
    font-size: 80px;
    font-weight: 700;
}

p.textHighlight {
    font-size: 30px;
    font-weight: 700;
}

marquee {
    margin-top: 100px;
    background: #349e9f;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;

}

marquee p {
    font-size: 40px;
    padding: 10px 40px;
    font-weight: 700;
}

.footer-content {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

h1.title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 100px;
    text-decoration: underline;
}